.tooltip {
    width: 300px;
    margin: 20px;
    text-align: start;
    pointer-events: auto;
}

.pointInTime {
    margin-top: 10px;
    text-align: end;
}

.map-wrapper {
    position: relative;
}

.map-select {
    z-index: 1000;
    padding: 8px 12px;
    width: 350px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: white;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.leaflet-top.leaflet-left {
    left: auto !important;
    right: 10px !important;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100vh;
    z-index: 1000;
    background: white;
    align-items: flex-start;
    padding-left: 50px;
    text-align: start;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
}

.toggle-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 550px;
    z-index: 2000;
    width: 40px;
    height: 80px;
    color: black;
    background-color: white;
}

.toggle-btn.closed {
    left: 0;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 23%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.6;
}

.input-wrapper input {
    background-color: white;
    color: black;
    padding: 10px 10px 10px 35px;
    width: 400px;
    border-radius: 8px;
}

.rage-wrapper {
    color: black;
}

.search-range {
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.search-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.search-btn {
    color: white;
    background-color: rgb(56, 56, 255);
    border-radius: 8px;
    padding: 7px 20px;
}

.search-btn:hover {
    cursor: pointer;
}